.show > .dropdown-menu{display: block;}
.user_btn1 .dropdown-toggle{background-color: transparent;border: none;color: #fff;line-height: 63px;}
.btn-secondary.active.focus, .btn-secondary.active:focus, .btn-secondary.active:hover, .btn-secondary.focus:active, .btn-secondary:active:focus, .btn-secondary:active:hover, .open > .btn-secondary.dropdown-toggle.focus, .open > .btn-secondary.dropdown-toggle:focus, .open > .btn-secondary.dropdown-toggle:hover{background-color: transparent;border: none;color: #fff;}
/*.user_btn1 .btn-group button i {
  padding-right: 5px;
}*/
/*17-02-2017*/
.user-btn .dropdown-menu button i {
  font-size: 14px;
  padding-right: 10px;
}