/*@import url("ripple.css");*/
body { font-family: 'Titillium Web' !important, sans-serif; font-weight: 400; font-size: 16px; color: #686868; letter-spacing: 0.05em; background: #f5f5f5; }
html { height: 100%; }
a, img, button:focus { border: none; outline: none; }
h1, h2, h3, h4, h5, h6, p, ul, li { margin: 0px; padding: 0px; }
a { text-decoration: none; color: #0272b6; }
a:focus, a:hover { color: #0272b6; text-decoration: none; }
ul, li { list-style: none; }
button, input, optgroup, select, textarea { font-family: 'Titillium Web', sans-serif; }
.btn.focus, .btn:focus { box-shadow: none; }
/*Login*/
.hgt100 { height: 100%; }
.login-bg { background-image: url("../images/login-bg.jpg"); background-position: center top; background-size: cover; display: table; height: 100%; width: 100%; }
.login-wrap { display: table-cell; vertical-align: middle; }
.login-box { height: auto; margin: 0 auto; vertical-align: middle; width: 350px; }
.login-form { background-color: #fff; border: 1px solid #ddd; margin-top: 30px; padding: 0 0 40px; min-height:350px;}
.login-form .form-group { margin-bottom: 30px; padding-left: 30px; }
.login-form label { left: 35px; }
.login-form .form-group .bar { width: 100%; }
.login-logo { display: block; margin: 0px auto; }
.login-form h2 { background: #f5f5f5 none repeat scroll 0 0; display: inline-block; float: none; text-align: center; width: 100%; margin-bottom: 30px; color: #686868;font-weight: 600; line-height: 20px; padding:15px 0px; font-size:18px;}
.login-form .form-group i { bottom: 4px; color: #979797; font-size: 25px; left: 0; position: absolute; }
.login-form .form-group i.fa-envelope-o { font-size: 18px; }
.login-form .inputMaterial:focus ~ i, .login-form .inputMaterial:valid ~ i {color: #0272b6;}
.login-form .form-group:hover .inputMaterial { border-color: #0272b6; }
.login-form .form-group:hover i, .login-form .form-group:hover label { color: #0272b6; }
.login-form button.sign-btn { display: block; margin: 0 auto; width: 80%; margin-bottom: 20px; }
.frgt-password { display: block; margin: 0 auto; position: relative; text-align: center; width: 265px; }
.frgt-password > input[type="radio"] { display: inline-block; float: left; margin: 7px 0 0; cursor: pointer; }
.frgt-password font { font-size: 14px; }
/*17-02-2017*/
.error_msg_danger {
  color: #ff0000;
  font-size: 11px;
  line-height: 11px;
  padding-top: 5px;
  position: absolute;
}
/*02-03-17*/
.login-form .alert {
  border: 0 none;
  border-radius: 0;
  font-size: 14px;
  margin-top: -30px;
  padding: 0.5rem 1.25rem;
  text-align: center;
}
/*Login*/
