
/**
 * MUI Buttons
 */
.mui-btn {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  -ms-touch-action: manipulation;
  touch-action: manipulation;s
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  overflow: hidden;
}

/**
 * MUI Dropdown module
 */
.mui-dropdown {
  display: inline-block;
  position: relative;
}

[data-mui-toggle="dropdown"] {
  outline: 0;
}

.mui-dropdown__menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #FFF;
  border-radius: 2px;
  z-index: 1;
  background-clip: padding-box;
}

.mui-dropdown__menu.mui--is-open {
  display: block;
}

.mui-dropdown__menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.429;
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  white-space: nowrap;
}

.mui-dropdown__menu > li > a:hover, .mui-dropdown__menu > li > a:focus {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  background-color: #EEEEEE;
}

.mui-dropdown__menu > .mui--is-disabled > a, .mui-dropdown__menu > .mui--is-disabled > a:hover, .mui-dropdown__menu > .mui--is-disabled > a:focus {
  color: #EEEEEE;
}

.mui-dropdown__menu > .mui--is-disabled > a:hover, .mui-dropdown__menu > .mui--is-disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  cursor: not-allowed;
}

.mui-dropdown__menu--right {
  left: auto;
  right: 0;
}

/**
 * MUI Select Component
 */
.mui-select {
  display: block; padding:0px; margin:0px;
  position: relative; width:100%;
}

.mui-select:focus {
  outline: 0;
}

.mui-select:focus > select {
  height: 43px;
  margin-bottom: -1px;
  border-color: #0272b6;
  border-width: 2px;
}

.mui-select > select {
  display: block;
  height: 43px;
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0px;
  box-shadow: none;
  background-color: transparent;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNiIgd2lkdGg9IjEwIj48cG9seWdvbiBwb2ludHM9IjAsMCAxMCwwIDUsNiIgc3R5bGU9ImZpbGw6cmdiYSgwLDAsMCwuMjQpOyIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-position: right center;
  cursor: pointer;
  color:#757575;
  padding: 0 25px 0 0; font-size:15px;
}

.mui-select > select::-ms-expand {
  display: none;
}

.mui-select > select:focus {
  outline: 0;
  height: 33px;
  margin-bottom: -1px;
  border-color: #2196F3;
  border-width: 2px;
}

.mui-select > select:disabled {
  color: rgba(0, 0, 0, 0.38);
  cursor: not-allowed;
  background-color: transparent;
  opacity: 1;
}

.mui-select > select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.mui-select > select:focus::-ms-value {
  background: none;
  color: rgba(0, 0, 0, 0.87);
}

.mui-select > label {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mui-select:focus > label,
.mui-select > select:focus ~ label {
  color: #2196F3;
}

.mui-select__menu {
  position: absolute;
  z-index: 2;
  min-width: 100%;
  overflow-y: auto;
  padding:8px 0px 0px 0px; border:1px solid #ddd;
  background-color: #FFF;
  font-size: 16px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .mui-select__menu {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }
}

@supports (-ms-ime-align: auto) {
  .mui-select__menu {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }
}

.mui-select__menu > div {
  padding: 0 22px;
  height: 42px;
  line-height: 42px;
  cursor: pointer;
  white-space: nowrap;
}

.mui-select__menu > div.mui--is-selected {
  background-color: #EEEEEE;
}

.mui-select__menu > div.mui--is-disabled {
  color: rgba(0, 0, 0, 0.38);
  cursor: not-allowed;
}

.mui-select__menu > div:not(.mui-optgroup__label):not(.mui--is-disabled):hover {
  background-color: #E0E0E0;
}

.mui-optgroup__option {
  text-indent: 1em;
}

.mui-optgroup__label {
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.9em;
}

/**
 * MUI Ripple module
 */
.mui-btn__ripple-container {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 0;
}

.mui-ripple {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.0001, 0.0001);
}

.mui-ripple.mui--is-animating {
transform: none;
transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1), width 0.3s cubic-bezier(0, 0, 0.2, 1), height 0.3s cubic-bezier(0, 0, 0.2, 1), opacity 0.3s cubic-bezier(0, 0, 0.2, 1);}
.mui-ripple.mui--is-visible {opacity: 0.3;}

.mui-btn .mui-ripple {
  background-color: rgba(0, 0, 0 , 0.5);
}

.mui-btn--primary .mui-ripple {
  background-color: #FFF;
}

.mui-btn--dark .mui-ripple {
  background-color: #FFF;
}

.mui-btn--danger .mui-ripple {
  background-color: #FFF;
}

.mui-btn--accent .mui-ripple {
  background-color: #FFF;
}

.mui-btn--flat .mui-ripple {
  background-color: #a6a6a6;
}

